@model Cart


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="cart-container">
                        @foreach (CartProduct cartProduct in Model.CartProduct)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img style="height: 50px; width: 50px; object-fit: cover" src="~/assets/uploads/images/@cartProduct.Product.Images.Where(n => n.IsMain == true).FirstOrDefault().Url" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@cartProduct.Product.Title</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @if(cartProduct.Product.DiscountValue != 0)
                                    {
                                        <h5>$@Math.Round((decimal)(cartProduct.Product.Price - (cartProduct.Product.DiscountValue * cartProduct.Product.Price / 100)),2)</h5> <h5 class="l-through">$@cartProduct.Product.Price</h5>
                                    }else
                                    {
                                        <h5>$@cartProduct.Product.Price</h5>
                                    }
                                </td>
                                <td>
                                    <div class="product_count">
                                            <input class="change-quantity" productId="@cartProduct.Product.Id" type="text" id="sst" maxlength="12" value="@cartProduct.Quantity" title="Quantity:" class="input-text qty">
                                    </div>
                                </td>
                                <td>
                                    @if(cartProduct.Product.DiscountValue != 0)
                                    {
                                        <h5>$@Math.Round((decimal)((cartProduct.Product.Price - (cartProduct.Product.DiscountValue * cartProduct.Product.Price / 100)) * cartProduct.Quantity),2)</h5>
                                    }else
                                    {
                                        <h5>$@Math.Round((cartProduct.Product.Price * cartProduct.Quantity),2)</h5>

                                    }
                                </td>
                                <td><a asp-controller="Cart" asp-action="DeleteFromCart" asp-route-id="@cartProduct.Product.Id" style="color: red; text-decoration: none;">x</a></td>
                            </tr>
                        }

                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>$@Math.Round(Model.TotalPrice,2)</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>
                            </td>
                            <td>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

